.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
}
.home_row {
  display: flex;
  z-index: 1;
  margin-top: 1px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 70px;
  padding-top: -30px;
}

.home_image {
  width: 1500px;
  z-index: -1;
  margin-bottom: 10px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.product {
  border-radius: 15px;
  box-shadow: 0 4px 12px 0 rgb(136, 154, 160);
}
.slider {
  margin-left: 20px;
}

.actions button {
  background: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  padding-top: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
}

.actions button:active {
  background: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px;
  padding-top: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
}

.footer {
  display: flex;
  bottom: 0;
  background-color: black;
  margin-top: 50px;
  height: 300px;
  width: 100%;
  box-shadow: 0 -5px 12px 0 rgb(106, 109, 110);
  color: #fff;
}
.info_c1 {
  display: block;
  margin-top: 50px;
  margin-left: 200px;
}
.info_c2 {
  display: block;
  margin-top: 50px;
  margin-left: 80px;
}
.info_c3 {
  display: block;
  margin-top: 50px;
  margin-left: 80px;
}
.logos {
  display: block;
}
.hovering {
  display: block;
  margin-left: 11%;
  margin-bottom: 30px;
}
