.app-header {
  background-color: aliceblue;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 15%;
}
.title {
  margin-left: 34%;
}
.title2 {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
}
