.help {
  display: flex;
  height: 653px;
  width: 30%;
  margin-left: 63%;
}
.closebtn {
  display: flex;
  position: fixed;
  margin-left: 95%;
}
.Ads {
  display: flex;
  position: fixed;
  margin-top: 5px;
  width: 900px;
}
.Ads2 {
  display: flex;
  position: fixed;

  margin-top: 350px;
  width: 900px;
}
